/* to write the comment */ 

/* :root commonly required color, margin values etc.  */ 
:root{

    --primary-color:#17a2b8;
    --dark-color : #343a40;
    --light-color : #F4F4F4;
    --danger-color: #dc3545;
    --success-color : #28a745;
}

    
body {

/*Raleway is a custom font, if Raleway is not available then it will use Sans-Serif instead*/
    font-family: "Raleway", sans-serif;  
    /* rem is used to handle fonts unit*/ 
    font-size: 1rem; /*uses root element’s font-size instead of its parent’s font-size.*/ 
    line-height: 1.6;
    background-color: #fff;
    color: #333;

}

/*used for hyperlinks */
a {
    color: var(--primary-color);
    text-decoration: none;
}

/* .followed by Name : class in CSS */

/* Utilities */ 
.container {
    max-width: 1100px;
    margin: auto;
}

/* text styles */
.x-large {
font-size: 4rem;
line-height: 1.2;
margin-bottom: 1rem;

}

.large {
font-size: 3rem;
line-height: 1.2;
margin-bottom: 1rem;
}

.text-primary {
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}

/* used for formatting navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem ;
    position: fixed;
    z-index: 1;
    width: 100%; /* height & width must be provided as a % */
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
}
.navbar a{
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

}

/* used for hyperlinks - changes color when the mouse moves over the clickable hyperlinks*/
.navbar a:hover{
    color: var(--primary-color);
}

.bg-dark{
    background-color: var(--dark-color);
    color:#fff;
}

.landing{
    position: relative;
    background: url("../html/assets/images/showcase.jpg") no-repeat center;
    height: 100vh;
    
}

/* managing the inner part of the landing*/
.landing-inner{

    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    



.dark-overlay{
    background-color: rgba(0,0,0,0.7); /* alpha is for transparency */
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.btn{
    display: inline-block;;
    background: var(--primary-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;

}

/* a button with primary color */
.btn-primary{
    background: var(--primary-color);
    color: #fff;
}

/* a button with llight color */
.btn-light{
    background-color: var(--light-color);
    color: #333;
}
/* forms out css class / classes -- inner class/child class */
/* handle the margin part */
.form .form-group{
margin: 1.2rem 0;
}
.form .form-text{
    display: block;
    margin-top: 0.3rem;
    color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea{
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}
/* dashboard actions*/
.dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
}

/* table*/
.table th,

.table td {
    padding: 1rem;
    text-align: left;
}
.table th {
    background-color: var(--light-color);

}
img {
    border-radius: 80%;
  }